[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"flake8" = "*"
pydocstyle = "*"
"pep8" = "*"
pytest = "*"

[packages]
"elasticsearch5" = "*"
gensim = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
tqdm = "*"
prometheus_client = "*"
sompy = {editable = true, ref = "76b60ebd6ffd550b0f7faaf632451dfd68827bf7", git = "https://github.com/sevamoo/SOMPY.git"}

[requires]
python_version = "3.6"
