-i https://pypi.org/simple
boto3==1.9.4
boto==2.49.0
botocore==1.12.4
bz2file==0.98
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
docutils==0.14
elasticsearch2==2.5.0
gensim==3.5.0
idna==2.7
jmespath==0.9.3
kiwisolver==1.0.1; python_version != '3.3.*'
matplotlib==2.2.3
numpy==1.15.1
pandas==0.23.4
pyparsing==2.2.0
python-dateutil==2.7.3; python_version >= '2.7'
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
smart-open==1.6.0
tqdm==4.26.0
urllib3==1.23; python_version < '4'
